<div class="boat-list">
  <h2>Boat List</h2>
  <button class="btn-add" (click)="navigateToAddBoat()">Add New Boat</button>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let boat of boats">
        <td>{{ boat.id }}</td>
        <td>{{ boat.name }}</td>
        <td>{{ boat.description }}</td>
        <td>
          <button class="btn-details" (click)="viewBoatDetails(boat.id)">View Details</button>
          <button class="btn-edit" (click)="editBoat(boat.id)">Edit</button>
          <button class="btn-delete" (click)="deleteBoat(boat.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
